@import url('https://fonts.google.com/specimen/Abhaya+Libre');
@import url('https://fonts.google.com/specimen/Kanit?query=kanit');

body {
    background-image: url(../imagens/login_back.png);
    background-position: center center;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centro{
    position: absolute;
    padding: 20px;
    width: 310px;
    height: 395px;
    margin: 0 auto;
    border-radius: 10px;
    background: #FFF9EE;  
    text-align: center;
}

.centro .barb{
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    color: #402009;
    text-shadow:
        -0.5px -0.5px 0 #402009, 
        0.5px -0.5px 0 #402009, 
        -0.5px 0.5px 0 #402009, 
        0.5px 0.5px 0 #402009;
    text-align: center;
    font-family: Abhaya Libre ExtraBold;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    margin-top: 5px;
}
.centro .find{
    color: #7E5638;
    text-align: center;
    font-family: Kanit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.centro .do{
    color: #000;
    text-align: center;
    font-family: Kanit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}
.centro .bot{
    width: 270px;
    height: 45px;
    background-color: #DDCEC2;
    margin-left: 20px;
    border-radius: 18px;
    cursor: pointer;
    margin-bottom: 15px;
}
.custom-bot {
    width: 247px;
    height: 43px;
    background-color: transparent;
    border: transparent;
    border-radius: 18px;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 20px;
}
.centro .email{
    color: #000;
    text-align: left;
    font-family: Kanit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 23px;
}
.centro .senha{
    color: #000;
    text-align: left;
    font-family: Kanit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-left: 23px;
}
.centro .bottomgg{
    background-image: url(../imagens/google_sigla.png);
    background-size: 20px 20px;
    background-position: 12px center;
    background-repeat: no-repeat;
    width: 220px;
    height: 30px;
    background-color: #FFF9EE;
    border: 1px solid #7E5638;
    margin-left: 45px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.20));
    color: #402009;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Kanit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.centro .bottoment{
    width: 100px;
    height: 30px;
    background-color: #FFF9EE;
    border: 3px solid #402009;
    margin-left: 103px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 8px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.20));
    color: #402009;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Kanit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media (max-width: 480px) {
    button {
        width: 70%;
    }
}
